body{
    margin: auto;
    padding: auto;
    background-image: url(../../images/background-desktop.jpg);
    background-size:cover;
}
/* navigation */
nav{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(54, 54, 54);
    height: 50px;
    justify-content: center;
    align-items: center;
    
}   
nav > a{
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.navigation{
    padding-left: 20px;
}
nav > a:hover{
    color:aqua;
}
/* grid container*/
.container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    padding: 0 70px;
    margin-top: 20px;
}
/* grid alignment */
.grid:nth-child(1){
    grid-column:1/6;
    background-color:rgb(54, 54, 54);
}
.grid:nth-child(2){
    position: relative;
    grid-column:1/3;
}
.grid:nth-child(3){
    position: relative;
    grid-column:3/6;
}
.grid:nth-child(4){
    grid-column: 1/6;
    background-color:rgb(54, 54, 54);
    padding-bottom: 20px;
}
/* center */
.grid{

    border-radius: 10px;
    border: 2px solid aqua;
    color: white;
    text-align: center;
}
/* menu */
.grid > img{
    width: 100%;
    height: 100%;
    border-radius:10px;
    
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.menu > a{
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
}
.grid > .menu{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(54, 54, 54, 0.671);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
}
.grid:hover .menu{
    transform: scale(1);
}
.menu > a:hover{
    color: aqua;
}
/* footer */
.grid:nth-child(4) > a{
    padding-left: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grid:nth-child(4) > a:hover{
    color: aqua;
}